html,
body {
    padding: 0 0;
    margin: 0;  
    font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  width: 100%;
  display: block;
}

.text-white{
  color: white;
}

.bg-dark-blue{
  background-color: rgb(1, 51, 111);
}

.bg-red{
  background-color: rgb(162, 0, 0);
}

.container{
    margin: 30px auto;
    width: min(90%, 75rem);
}

.text-center{
    text-align: center;
}

.grid{
  background-color: rgb(224, 242, 255);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:20%;
  background-color: whitesmoke;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title{
  padding: 10px 0;
  text-align: center;
  background-color: rgb(254, 255, 218);
  color: rgb(47, 47, 47);
}

.btn{
  background-color: rgb(1, 51, 111); /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-add {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(1, 51, 111);
}

.btn-add:hover{
  background-color: rgb(1, 51, 111);
  color: white; 
}

.btn-danger {
  background-color: white; 
  color: rgb(255, 89, 155); 
  border: 2px solid rgb(255, 89, 155);
}


.btn-danger:hover {
  background-color: rgb(255, 89, 155);
  color: white; 
}




table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffdd00;
  color: rgb(66, 66, 66);
}